<div class="row">
  <div class="large-12 columns">
    <div class="quote">
      <p><q><i>Tell me and I forget. Teach me and I remember. Involve me and I learn.</q><br>
      <i>- Benjamin Franklin </p>
    </div>

    <div class="whoarewe">
     <h2>Who Are We?</h2> 
     <hr>
     Banner is a platform that allows teachers, instructors, experts etc. to create and share online video courses. 
    </div>

    <div class='team'>
      <section class="section">
        <h5 class="title">Team Members</h5>
        <div class="">
          <ul class="large-block-grid-3">
            <li><%= image_tag('Chris.jpg', :alt => 'Chris Photo', :size => '300x300') %>
            <a href="mailto:cmcollin41@gmail.copm">Chris Collinsworth</a></li>
            <li><%= image_tag('Ray.jpg', alt: 'Ray Photo', size: '300x300') %>
            <a href="mailto:gonzai125@gmail.com">Ray Gonzalez</a></li>
            <li><%= image_tag('Richi.jpg', alt: 'Richi Photo', size: '300x300') %>
            <a href="mailto:arturopriegothe3@gmail.com">Richi Priego</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div><!-- large-12 -->
</div><!-- row -->