<div class="quote">
  <p><q><i>Tell me and I forget. Teach me and I remember. Involve me and I learn.</q><br>
  <i>- Benjamin Franklin </p>
</div>

<div class="whoarewe">
 <h2>Who Are We?</h2> 
 Banner is a platform for learning.  Users can create courses for others users to take. Each course will contain lessons, and each lessons can have customizable quizzes. 
</div>

<div class='team'>
<section class="section">
          <h5 class="title">Team Members</h5>
          <div class="">
            <ul class="large-block-grid-3">
              <li><%= image_tag('Chris.jpg', :alt => 'Chris Photo', :size => '300x300') %><a href="mailto:CCollinsworth@banner.dev">Chris Collinsworth</a></li>
              <li><%= image_tag('Ray.jpg', alt: 'Ray Photo', size: '300x300') %><a href="mailto:RGonzalez@banner.dev">Ray Gonzalez</a></li>
              <li><%= image_tag('Richi.jpg', alt: 'Richi Photo', size: '300x300') %><a href="mailto:RPriego@banner.dev">Richi Priego</a></li>
            </ul>
          </div>
        </section>
      </div>