<div class="quote">
  <p><q><i>Tell me and I forget. Teach me and I remember. Involve me and I learn.</q><br>
  <i>- Benjamin Franklin </p>
</div>

<div class="whoarewe">
 <h2>Who Are We?</h2> 
 Banner was idea that started when 
</div>


<section class="section">
          <h5 class="title">Team Members</h5>
          <div class="">
            <ul class="large-block-grid-3">
              <li><a href="mailto:CCollinsworth@banner.dev"><img src="http://placehold.it/200x200&amp;text=[person]">Chris Collinsworth</a></li>
              <li><a href="mailto:RGonzalez@banner.dev"><img src="http://placehold.it/200x200&amp;text=[person]">Ray Gonzalez</a></li>
              <li><a href="mailto:RPriego@banner.dev"><img src="http://placehold.it/200x200&amp;text=[person]">Richi Priego</a></li>
            </ul>
          </div>
        </section>