<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="center panel-heading">
        <h1>Edit Exercise</h1>
      </div>  
      <div class="panel-body">
        <%= form_for(@exercise) do |f| %>

          <%= f.label :response %>
          <%= f.text_field :response, class: 'form-control' %>

          </br>
          <%= f.submit "Hazaaah!!!", class: "btn btn-block btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
