<div class="row">
  <div class="panel large-8 large-centered columns">
    <h2 class="text-center">Add a New Exercise!</h2></br>
    <%= form_for(@exercise) do |f| %>

      <div class="small-12 large-11 large-centered columns ">
        <%= f.text_field :response, autofocus: true %>
      </div>
      
      <div class="small-12 large-11 large-centered columns ">
        <%= f.submit "Add Exercise!", class: "small button primary expand" %>
      </div>

    <% end %>

  </div>
</div>
