<ul class="pricing-table">
  <li class="title">Banner Sports</li>
  <li class="price">$49</li>
  <li class="description">Monthly</li>
  <li class="bullet-item">Learn from the pros!</li>
  <li class="bullet-item">Unlimited access to over 50 courses</li>
  <li class="cta-button"><%= render 'charges/form' %></li>
</ul>