<ul class="side-nav" style="position: fixed;">
  <li><a href="#"><h4 class="text-center"><%= @course.name %></h4></a></li>
  <% @course.lessons.reverse.each do |l| %>
  <li><a href="", style="font-size: 0.75em;"><%= lesson_complete(l, current_user) %> <%= l.name %></a></li>
  <% end %>
</ul>
